<h1>Wiki Edit</h1>

<%= form_for @wiki do |f| %>
  <%= f.label :title %>
  <%= f.text_field :title %>

  <%= f.label :body %>
  <%= f.text_area :body %>

  <%= f.label "Private" %>
  <%= f.check_box :private %>

  <%= f.submit "Save" %>
<% end %>
