<div class="container-fluid container-fill-height">
  <div class="container-content-middle">

    <%= form_for(resource, as: resource_name, html: { class: "mx-auto text-center app-login-form" }, url: session_path(resource_name)) do |f| %>

      <a href="../index.html" class="app-brand mb-5">
        <%= image_tag "brand.png" %>
      </a>

      <div class="form-group field">
        <%= f.text_field :login, autofocus: true, placeholder: "Username or e-mail", class: "form-control" %>
      </div>

      <div class="form-group mb-3 field">
        <%= f.password_field :password, autocomplete: "off", placeholder: "Password", class: "form-control" %>
      </div>

      <div class="mb-5 actions">
        <%= f.submit 'Log In', class: 'btn btn-primary' %>
        <%= link_to 'Sign Up', new_user_registration_path, class: 'btn btn-secondary' %>
      </div>



      <footer class="screen-login">
        <%- if devise_mapping.recoverable? && controller_name != 'passwords' && controller_name != 'registrations' %>
          <%= link_to "Forgot your password?", new_password_path(resource_name), class: "text-muted" %>
        <% end -%>
      </footer>
    <% end %>
  </div>
</div>
